<!doctype html>
<html>
<head>
  <title>DementiaHacks</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="stylesheets/style.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom CSS -->
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <link href="stylesheets/common.css" rel="stylesheet">
    <link href="stylesheets/stylish-portfolio.css" rel="stylesheet">
</head>
  <body>
    <!-- Navigation -->
  <!-- <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a> -->
  <nav id="top-wrapper">
    <ul class="top-nav">
      <!-- <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a> -->
      <li class="top-brand">
        <a href="/" ><img class="img-logo" src="images/logo.png">
        </a>
      </li>
      <span class="items">
  {{#if user}}
        <li>
          <a href="logout">Log out</a>
        </li>
  {{else}}
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/#about">About Us</a>
        </li>
        <li>
          <a href="/#platform">Platform</a>
        </li>
        <li>
          <a href="/#contact">Contact</a>
        </li>
  {{/if}}
        </span>
    </ul>
  </nav>

  {{{body}}}
  </body>
</html>