<h1>Add User</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Role</label>
        <div class="col-sm-4">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Role">
    </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="inputPassword3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Grant Access to</label>
        <div class="col-sm-offset-2 col-sm-8">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Social History</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>No Access</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Personal</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Personal" id="optionsRadios1" value="view">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Personal" id="optionsRadios2" value="edit">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Personal" id="optionsRadios3" value="false">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Stationary Activities</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="stationary" id="optionsRadios4" value="view">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="stationary" id="optionsRadios5" value="edit">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="stationary" id="optionsRadios6" value="false">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Physical Activities</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="physical" id="optionsRadios7" value="view">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="physical" id="optionsRadios8" value="edit">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="physical" id="optionsRadios9" value="false">
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Medical History</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>No Access</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Self-care Skills</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="selfCare" id="optionsRadios10" value="view">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="selfCare" id="optionsRadios11" value="edit">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="selfCare" id="optionsRadios12" value="false">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Medical conditions</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="medCond" id="optionsRadios13" value="view">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="medCond" id="optionsRadios14" value="edit">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="medCond" id="optionsRadios15" value="false">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Medication</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="medication" id="optionsRadios16" value="view">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="medication" id="optionsRadios17" value="edit">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="medication" id="optionsRadios18" value="false">
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Add Users</button>
        </div>
    </div>
</form>