<h1>Export</h1>

<p>From here you can export your personal profile into a PDF file, which you can carry around easily and pass on to your caregivers.</p>

<form action="backend_submit" method="get" accept-charset="utf-8">
    <h3>Medical</h3>
    <ul class="list-unstyled">
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Topic 1
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Topic 1
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Topic 1
                </label>
            </div>
        </li>
    </ul>

    <h3>Social</h3>
    <ul class="list-unstyled">
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Topic 1
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Topic 1
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Topic 1
                </label>
            </div>
        </li>
    </ul>
    <button type="submit" class="btn btn-primary">Export to PDF</button>
</form>