<h1>Profile</h1>

<form ng-submit="submit()" ng-controller="ProfileController" name="form">
	<div ng-repeat="q in Questions">
		<div ng-if="q.Type == 'Text' ">
	        <app-text info="q" index="{{$index}}"></app-text>
	    </div>
	    <div ng-if="q.Type == 'Textarea' ">
	        <app-textarea info="q" index="{{$index}}"><app-textarea>
	    </div>
	    <div ng-if="q.Type == 'MC' ">
	        <app-multiple-choice info="q" index="{{$index}}"><app-multiple-choice>
	    </div>
	</div>
	<button class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-sm" type="submit">Submit</button>
</form>

{{init()}}
