<h1>Self-Care Skills</h1>
<p>Please rank the patient's level of self-care skills, of 1 being the lowest.</p>
<form ng-submit="submit(form)" ng-controller="SCController" name="form">


	<div ng-repeat="q in Questions">
		<div ng-if="q.Type == 'Text' ">
	        <app-text info="q" index="{{$index}}"></app-text>
	    </div>
	    <div ng-if="q.Type == 'Textarea' ">
	        <app-textarea info="q" index="{{$index}}"><app-textarea>
	    </div>
	    <div ng-if="q.Type == 'MC' ">
	        <app-multiple-choice info="q" index="{{$index}}"><app-multiple-choice>
	    </div>
	    <div ng-if="q.Type == 'Scale' ">
	        <app-scale info="q" index="{{$index}}"><app-scale>
	    </div>

	</div>
	<button class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-sm" type="submit">Submit</button>
</form>


{{init()}}