<h1>Personal</h1>

<form ng-submit="submit(form)" ng-controller="SPController" name="form">
	<div ng-repeat="q in Questions">
		<div ng-if="q.Type == 'Text' ">
	        <app-text info="q" index="{{$index}}"></app-text>
	    </div>
	    <div ng-if="q.Type == 'Textarea' ">
	        <app-textarea info="q" index="{{$index}}"><app-textarea>
	    </div>
	    <div ng-if="q.Type == 'Multiple Choice' ">
	        <app-multiple-choice info="q" index="{{$index}}"><app-multiple-choice>
	    </div>
	</div>
	<button class="btn btn-info" type="submit">Submit</button>
</form>
