<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Product Name</title>

    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->
    <link href="stylesheets/common.css" rel="stylesheet">
    <link href="stylesheets/backend.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    <!-- jQuery -->
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-cookies.min.js"></script>

</head>
<body ng-app="dementiaApp">
    <div class="fluit-container">


        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li id="home"><a href="#/home" title="">Home</a></li>

                <li class="main-item">Social History</li>
                <li class="sub-item"><a href="#/socialPersonal" title="">Personal</a></li>
                <li class="sub-item"><a href="" title="">Topic 2</a></li>
                <li class="sub-item"><a href="" title="">Topic 3</a></li>

                <li class="main-item">Social History</li>
                <li class="sub-item"><a href="" title="">Topic 1</a></li>
                <li class="sub-item"><a href="" title="">Topic 2</a></li>
                <li class="sub-item"><a href="" title="">Topic 3</a></li>

                <li class="main-item">Settings</li>
                <li class="sub-item"><a href="#/profile#main" title="">Profile</a></li>
                <li class="sub-item"><a href="#/current#main" title="">Current Users</a></li>
                <li class="sub-item"><a href="#/adduser#main" title="">Add Users</a></li>
                <li class="sub-item"><a href="#/export#main" title="">Export</a></li>

            </ul>
        </nav>

        <div id="main" ng-view>
            
        </div>
    </div>

    <!-- Modules -->
    <script src="javascripts/app.js" type="text/javascript"></script>

    <!-- Controllers -->
    <script src="javascripts/controllers.js" type="text/javascript"></script>

    <!-- Directives -->
    <script src="javascripts/directives/directives.js" type="text/javascript"></script>

    <!-- Services -->
</body>
</html>